<% titulo "Resultados para @project.name" %>

<%= javascript_include_tag "highcharts.js", "chartkick" %>

<div class="container-default">

<div class="page-header text-center">
	<h1 class="title">Resultado de avaliação para <%= @project.name %><br><small>Estatísticas e comentários de usuários</strong></small></h1>
	<%= link_to "<i class='flaticon-pdf21 icon-pdf'></i><br><p>Salvar PDF</p>".html_safe, profile_project_resultado_path(@project.id, :format => "pdf"), :class => 'salvar-pdf btn btn-primary pull-right text-center hidden-print' %>
</div>

<div class="well well-sm text-center"><h3>Problemas nesse projeto: <br><small>Proporção de tópicos com problemas</small></h3></div>

<%= pie_chart @result_problema %>

<div class="well well-sm text-center"><h3>Tipos de problemas: <br><small>Quais os tipos de problemas mais frequentes</small></h3></div>

<%= column_chart @result_tipos %>

<ul class="list-group">
	<li class="list-group-item well text-center" style="margin-bottom:-3px; border-bottom-left-radius:0px; border-bottom-right-radius:0px;">
		<h3>Gravidade dos problemas:</h3>
	</li>
	<li class="list-group-item">
		<div class="row">
			<div class="col-md-offset-1 col-md-2 btn btn-info zero-radius">
				<h1><%if @result_gravidade[0].nil? %>0<% else %><%= @result_gravidade[0] %><% end %></h1>
				<%= 'Problema'.pluralize(@result_gravidade[1]) %> do tipo 0
			</div>
			<div class="col-md-2 btn btn-warning zero-radius">
				<h1><%if @result_gravidade[1].nil? %>0<% else %><%= @result_gravidade[1] %><% end %></h1>
				<%= 'Problema'.pluralize(@result_gravidade[0]) %> do tipo 1
			</div>
			<div class="col-md-2 btn btn-warning zero-radius">
				<h1><%if @result_gravidade[2].nil? %>0<% else %><%= @result_gravidade[2] %><% end %></h1>
				<%= 'Problema'.pluralize(@result_gravidade[2]) %> do tipo 2
			</div>
			<div class="col-md-2 btn btn-danger zero-radius">
				<h1><%if @result_gravidade[3].nil? %>0<% else %><%= @result_gravidade[3] %><% end %></h1>
				<%= 'Problema'.pluralize(@result_gravidade[3]) %> do tipo 3
			</div>
			<div class="col-md-2 btn btn-danger zero-radius">
				<h1><%if @result_gravidade[4].nil? %>0<% else %><%= @result_gravidade[4] %><% end %></h1>
				<%= 'Problema'.pluralize(@result_gravidade[4]) %> do tipo 4
			</div>
		</div>
	</li>
</ui>

<br>

<div class="container text-center alert <% if @nota <= 1.3 %>alert-danger<% elsif @nota > 1.3 and @nota <= 2.6 %>alert-warning<% elsif @nota > 2.6 %>alert-success<% end %>">
	<h3>Nota geral</h3><h1><%= @nota %><small> de 4</small></h1>
</div>

<ul class="list-group">
	<li class="list-group-item well" style="margin-bottom:-3px; border-bottom-left-radius:0px; border-bottom-right-radius:0px;">
		<h3>Comentários:<br><small class="hidden-print">Ajude avaliando os usuários de acordo com os comentários. Visite o perfil dos avaliadores e dê seu feedback. <% 3.times do %><i class="glyphicon glyphicon-star"></i><% end %><% 2.times do %><i class="glyphicon glyphicon-star-empty"></i><% end %></small></h3>
	</li>
<% @resultados.each do |resultado| %>
	<% unless resultado.comment.empty? %>
	<li class="list-group-item">
		<div class="row">
			<div class="col-md-1 text-center" style="border-left:4px solid #563e7c">
				<% if resultado.user.avatar.exists? %>
		          <%= image_tag resultado.user.avatar.url(:thumb), :class => 'img-circle img-responsive' %>
			    <% else %>
			      <%= image_tag("avatar_medium.png", :class => 'avatar-small img-circle img-responsive') %>
			    <% end %>				
				<%= link_to resultado.user.name, profile_index_path(:user => resultado.user.id) %>
			</div> 
			<div class="col-md-10">
				<p class="text-primary"><strong><i>Comentário para o tópico <%= resultado.question.position %>. <%= resultado.question.name %></i></strong></p>
				<%= resultado.comment %>
			</div>
		</div>
	</li>
	<% end %>
<% end %>
</ul>


</div>